* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 62.5%;
}

p {
    font-size: 2rem;
    background-color: rgb(255, 0, 0);
    color: white;
}

/*SWUP*/
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}