* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

.circle-effect-container {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    min-height: 100vh;
    width: 100%;

    /** variables as tree inheritence */
    --slide-duration: 3s;
    --nb-of-spaces: 5; /* number of circles elements + 1*/
    --reduce-delay: 0.08s
}

.transition-slide-circle {
    position: absolute;
    top: 50%;
    left: calc(100% + 100px);
}

html.is-leaving .transition-slide-circle {
    transform: translate(-50%, -50%);
    animation: slideRight linear;
    animation-duration: var(--slide-duration);
}

.transition-grow-scale {
    transform: scale(1);
}

html.is-leaving .transition-grow-scale {
    animation: scaleGrow 0.5s ease-in forwards;
    animation-delay: var(--slide-duration);
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #488795;
}

.transition-fade-circle {
    opacity: 0;
}

html.is-leaving .transition-fade-circle {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out;
}

html.is-leaving .transition-fade-circle:nth-child(1) {
    animation-delay: calc( (1/ var(--nb-of-spaces)) * var(--slide-duration) - var(--reduce-delay));
}
html.is-leaving .transition-fade-circle:nth-child(2) {
    animation-delay: calc( (2/ var(--nb-of-spaces)) * var(--slide-duration) - var(--reduce-delay));
}
html.is-leaving .transition-fade-circle:nth-child(3) {
    animation-delay: calc( (3/ var(--nb-of-spaces)) * var(--slide-duration) - var(--reduce-delay));
}
html.is-leaving .transition-fade-circle:nth-child(4) {
    animation-delay: calc( (4/ var(--nb-of-spaces)) * var(--slide-duration) - var(--reduce-delay));
}

/**
 FLEX CIRCLE
*/
.flex-circle {
    position: absolute;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: space-evenly;
}

@keyframes slideRight {
    0% {
        left: -100px;
    }
}

@keyframes fadeIn {
    20% {
        opacity: 100%;
    }
}

@keyframes scaleGrow {
    100% {
        transform: scale(100);
    }
}
